.headerWrapper {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;

  .titleStyle {
    margin: 0;
  }

  .buttonStyles {
    border-radius: 10px;
    padding: 10px 60px;
  }
}

.userStyles {
  display: flex;
  align-items: center;
  gap: 10px;

  .titleStyle {
    margin: 0;
  }

  .avatarIcon {
    $size: 30px;
    border-radius: 50%;
    width: $size;
    height: $size;
    border: 2px solid orange;
    background: lightpink;
  }
}
